@tailwind base;
@tailwind components;
@tailwind utilities;

textarea{
    resize: none;
}

input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 6px;
    width: 6px;
    height: 13px;
    border: solid #7f56d9;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
 }
         
 input[type="checkbox"] {
    line-height: 2.1ex;
 }
         
 input[type="radio"],
    input[type="checkbox"] {
    position: absolute;
    left: -999em;
 }
         
 input[type="checkbox"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
 }
         
 input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 2.5ex;
    width: 2.5ex;
    background-color: white;
    border: 2px gray solid;
    border-radius: 4px;
    margin-right: 0.5em;
 }

 input[type="checkbox"]:checked + label::before {
    background-color: #f9f5ff;
    border: 2px #7f56d9 solid;
 }